div.content{
    /* background-color: cornflowerblue; */
    /* margin-bottom: 9px; */
    height: 200px;
    width: 200px;
    border: 5px solid #000000;
    /* float:left; */
    margin:4px;
    display: inline-block;

    
}


div#first{
    background-color:brown ;
}
div#second{
    background-color:blueviolet ;
}
div#third{
    background-color:blanchedalmond;
}