div.content{
    /* background-color: cornflowerblue; */
    /* margin-bottom: 9px; */
    height: 200px;
    width: 200px;
    border: 5px solid #000000;
    /* float:left; */
    margin-bottom: 92px;
    display: inline-block;

    
}


div#first{
    background-color:brown ;
    margin: 34px;
}
div#second{
    background-color:blueviolet ;
}
div#third{
    background-color:blanchedalmond;
}
input[type=button]{
    background-color: #161F6D;
    border-radius: 20px;
    color:white;
    padding:28px 45px;
    text-decoration: dotted;
    margin-top: ;
    cursor: pointer;
    text-align: center;
    size: 100px;
    font-size: x-large;
    
}